@import "//cdn.repository.webfont.com/webfonts/nomal/17977/47267/5e9a96f7f629d80d982dc5c3.css";
@import "//cdn.repository.webfont.com/webfonts/nomal/17977/19673/5e9a95e2f629d80d982dc5c2.css";
html,
body {
  height: 100%;
  position: relative;
  width: 100%;
  overflow: hidden;
}
p,
h5 {
  color: #cacaca;
}
.flex_c_c {
  display: flex;
  align-items: center;
  justify-items: center;
}
.flex_c_l {
  display: flex;
  align-items: center;
}
.w100 {
  width: 100% !important;
}
.pad10 {
  padding: 10px !important;
}
.pad20 {
  padding: 20px !important;
}
.padt5 {
  padding-top: 5px !important;
}
.padt10 {
  padding-top: 10px !important;
}
.padt20 {
  padding-top: 20px !important;
}
.padb5 {
  padding-bottom: 5px !important;
}
.padb10 {
  padding-bottom: 10px !important;
}
.padb20 {
  padding-bottom: 20px !important;
}
.padl10 {
  padding-left: 10px;
}
.padl15 {
  padding-left: 15px !important;
}
.padl20 {
  padding-left: 20px;
}
.pdlr5 {
  padding: 0 5px;
}
.pdlr15 {
  padding: 0 15px;
}
.pdr5 {
  padding-right: 5px;
}
.pdb10 {
  padding-bottom: 10px !important;
}
.mgr5 {
  margin-right: 5px !important;
}
.blackfg_5 {
  height: 5px;
  display: block;
  background: #2f2f2f;
}
.fengefu_15 {
  height: 15px;
  display: block;
}
.fengefu_25 {
  height: 25px;
  display: block;
}
.fengefu_45 {
  height: 45px;
  display: block;
}
.fengefu_50 {
  height: 50px;
  display: block;
}
@media only screen and (min-height: 768px) {
  .fengefu_Big768 {
    height: 30px;
    display: block;
  }
}
@font-face {
  font-family: "xihei";
  src: url("//at.alicdn.com/t/webfont_epj0qmcwgkb.eot");
  /* IE9*/
  src: url("//at.alicdn.com/t/webfont_epj0qmcwgkb.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("//at.alicdn.com/t/webfont_epj0qmcwgkb.woff") format("woff"), /* chrome、firefox */ url("//at.alicdn.com/t/webfont_epj0qmcwgkb.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url("//at.alicdn.com/t/webfont_epj0qmcwgkb.svg#思源黑体-细") format("svg");
  /* iOS 4.1- */
}
@font-face {
  font-family: "chuti3";
  font-display: swap;
  src: url("//at.alicdn.com/t/webfont_n9bamo6mrs.eot");
  /* IE9*/
  src: url("//at.alicdn.com/t/webfont_n9bamo6mrs.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("//at.alicdn.com/t/webfont_n9bamo6mrs.woff2") format("woff2"), url("//at.alicdn.com/t/webfont_n9bamo6mrs.woff") format("woff"), /* chrome、firefox */ url("//at.alicdn.com/t/webfont_n9bamo6mrs.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url("//at.alicdn.com/t/webfont_n9bamo6mrs.svg#NotoSansHans-Black") format("svg");
  /* iOS 4.1- */
}
h1,
h2,
h3,
h4 {
  font-family: "webfont02" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.font_color_gold {
  color: #dfb271;
  background: linear-gradient(to right, #fde7b6, #dfb271);
  -webkit-background-clip: text;
  color: transparent;
}
.font_color_hui {
  color: #b3b3b3;
  background: linear-gradient(to right, #c0c0c0, #ffffff);
  -webkit-background-clip: text;
  color: transparent;
}
.font_fff {
  color: #ffffff !important;
}
.font_up {
  color: #00c02a !important;
}
.font_green {
  color: #4eff57 !important;
}
.font_down {
  color: #ff2f5c !important;
}
.font_gold {
  color: #ffea8c !important;
}
.font_gold2 {
  color: #dfb271 !important;
}
.font_blue {
  color: #40d2ff !important;
}
.fonts_38 {
  font-size: 3.8rem !important;
}
.fonts_16 {
  font-size: 1.6rem !important;
}
.fonts_14 {
  font-size: 1.4rem !important;
}
.fonts_12 {
  font-size: 1.2rem !important;
}
.fonts_10 {
  font-size: 1rem !important;
}
.fonts_08 {
  font-size: 0.8rem !important;
}
.fonts_07 {
  font-size: 0.7rem !important;
}
.fonts_06 {
  font-size: 0.6rem !important;
}
.fonts_06 .iconfont {
  font-size: inherit;
  margin-right: 5px;
}
.s01 {
  animation-duration: 0.1s;
}
.s02 {
  animation-duration: 0.2s;
}
.s03 {
  animation-duration: 0.3s;
}
.s05 {
  animation-duration: 0.3s;
}
.s08 {
  animation-duration: 0.8s;
}
.s1 {
  animation-duration: 1s;
}
.d02 {
  animation-delay: 0.2s;
}
.d03 {
  animation-delay: 0.3s;
}
.d04 {
  animation-delay: 0.4s;
}
.d05 {
  animation-delay: 0.5s;
}
.d06 {
  animation-delay: 0.6s;
}
.d07 {
  animation-delay: 0.7s;
}
.d08 {
  animation-delay: 0.8s;
}
.d09 {
  animation-delay: 0.9s;
}
.d10 {
  animation-delay: 1s;
}
.d11 {
  animation-delay: 1.1s;
}
.d12 {
  animation-delay: 1.2s;
}
.d13 {
  animation-delay: 1.3s;
}
.d14 {
  animation-delay: 1.4s;
}
.d15 {
  animation-delay: 1.5s;
}
.roudn01 {
  background: #f0d399;
  border-radius: 50%;
  width: 80%;
  height: 250px;
  display: block;
  position: absolute;
  top: -175px;
  right: -35%;
}
.roudn02 {
  background: #f0d399;
  border-radius: 50%;
  width: 70%;
  height: 200px;
  display: block;
  position: absolute;
  bottom: -170px;
  left: -10%;
}
.roudn03 {
  background: #f0d399;
  border-radius: 50%;
  width: 80%;
  height: 200px;
  display: block;
  position: absolute;
  bottom: -120px;
  right: -20%;
}
.mui-content {
  background-color: rgba(239, 239, 244, 0);
  width: 100%;
  padding: 0 20px;
}
.mui-input-group {
  background-color: rgba(239, 239, 244, 0);
}
.mui-input-group * {
  font-size: 0.8rem;
}
.mui-input-group *::placeholder {
  font-size: 0.8rem;
}
.mui-input-group input {
  caret-color: #f0d399;
  border-bottom: 1px solid #494949;
}
.mui-input-group input:hover {
  border-bottom: 1px solid #f0d399;
}
.mui-input-group .phonebox {
  display: flex;
}
.mui-input-group .phonebox select {
  width: 80px;
  background: 0 0;
  font-size: inherit;
  border: none;
}
.mui-input-group .phonebox select option {
  background: #494949;
}
.mui-input-group .phonebox input {
  width: calc(100% - 80px);
  padding-left: 10px;
}
.mui-input-group .phonebox button {
  width: 80px;
  padding: 0;
  margin: 0;
  height: 35px;
  padding: 5px;
  background: 0;
  color: #f0d399;
  border: 1px solid #f0d399;
  border-radius: 0;
  margin-top: 5px;
}
.none {
  display: none !important;
}
.title {
  position: relative;
}
.title .right {
  position: absolute;
  right: 0;
  top: 0;
}
.title_A1 {
  color: #ffffff;
  font-size: 1.1rem;
  line-height: 100%;
  font-family: "jdzhonyuanjian203102c4bc4639" !important;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.1px;
  -moz-osx-font-smoothing: grayscale;
}
.title_A2 {
  color: #ffffff;
  font-size: 0.8rem;
  line-height: 100%;
  font-family: "jdzhonyuanjian203102c4bc4639" !important;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.1px;
  -moz-osx-font-smoothing: grayscale;
}
.mui-input-group:before {
  background-color: rgba(239, 239, 244, 0);
}
.mui-input-group:after {
  background-color: rgba(239, 239, 244, 0);
}
.mui-input-row .mui-input-clear ~ .mui-icon-clear.mui-active,
.mui-input-row .mui-input-password ~ .mui-icon-eye.mui-active {
  color: #f0d399;
}
.line01 {
  width: 97%;
  display: block;
  height: 1px;
  background: #5b5b5b;
  margin: 10px auto;
}
.footbar_diy {
  display: block;
  position: fixed;
  z-index: 99999;
  bottom: 0;
  left: 0;
  width: 100%;
  background-position: top center;
  background-size: cover;
  background: #2f2f2f;
  overflow: hidden;
  border-top: 1px solid #403c37;
  text-align: center;
}
.footbar_diy .menu_a {
  height: 50px;
  flex-grow: 1;
  display: inline-block;
  text-align: center;
  color: #ffffff;
}
.footbar_diy .menu_a .active .iconfont,
.footbar_diy .menu_a .active span {
  color: #dfb271;
}
.footbar_diy .menu_a .a {
  font-size: 14px;
}
.footbar_diy .menu_a .b {
  display: block;
  font-size: 0.6rem;
}
.footbar_diy .btnone_diy {
  background: 0 0;
  background-color: 0 0;
  color: #b8b8b8;
  border: 0;
  width: 100%;
}
.footbar_diy .btnone_diy i {
  font-size: 1.1rem;
  color: inherit;
  font-weight: 400;
}
.icon_right {
  font-style: normal;
  color: #dfb271;
  font-size: 0.6rem;
  float: right;
}
.icon_right .iconfont {
  font-size: inherit;
}
.mui-btn-block {
  font-size: 1rem;
  padding: 10px 0;
}
.mui-bar-nav {
  box-shadow: none;
  background-color: #2f2f2f;
  height: 38px;
  display: flex;
  align-items: center;
}
.mui-bar-nav .mui-title {
  color: #c0c0c0;
  font-size: 0.8rem;
  height: auto;
  line-height: 130%;
}
.mui-bar-nav a {
  color: #c0c0c0;
}
.mui-segmented-control.tab_menu_style01 {
  display: flex;
  align-items: baseline;
  justify-items: start;
}
.mui-segmented-control.tab_menu_style01 a {
  flex-grow: 0;
  display: block;
  width: auto;
  margin-right: 10px;
  font-size: 0.8rem;
}
.mui-segmented-control.tab_menu_style01 a.mui-active {
  font-size: 1rem;
}
.mui-segmented-control.mui-segmented-control-inverted ~ .mui-slider-progress-bar {
  background-color: #e4bb7d;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
  color: #e4bb7d;
}
.mui-popover {
  z-index: 999999;
  background: #212121 !important;
}
.mui-popover .mui-table-view {
  background: linear-gradient(to right, #fde7b6, #dfb271);
}
.mui-popover .mui-table-view-cell:after {
  background-color: #161616 !important;
}
.mui-table-view-divider {
  background-color: #2f2f2f;
}
.mui-table-view-divider::before {
  background-color: #494949;
}
.mui-table-view-divider::after {
  background-color: #494949;
}
.mui-table-view-cell {
  border-radius: 0 !important;
}
.mui-table-view-cell .iconfont {
  color: #fde7b6;
  font-size: inherit;
  margin-right: 10px;
}
.mui-table-view-cell .mui-active {
  background-color: #494949 !important;
}
.mui-table-view-cell.coin_list a {
  display: flex;
  align-items: center;
}
.mui-table-view-cell.coin_list a .coin_img {
  width: 25px;
  margin-right: 10px;
}
.mui-table-view-cell a {
  border-radius: 0 !important;
}
.mui-table-view-cell a b,
.mui-table-view-cell a span {
  color: #000;
}
.mui-table-view-cell:after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 15px;
  height: 1px;
  content: '';
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  background-color: #494949;
}
.mui-card {
  background: 0 0;
  margin: 0;
  box-shadow: none;
  border-bottom: 1px solid #494949;
}
.mui-card .mui-table-view {
  background: 0 0;
}
.mui-card .mui-badge-none {
  background: none;
  color: #fff;
  font-family: "jdzhonyuanjian203102c4bc4639" !important;
  font-size: 1rem;
}
input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select,
textarea {
  background-color: #494949;
  border: 1px solid rgba(255, 255, 255, 0);
  font-size: 0.9rem;
}
input[type=color]::placeholder,
input[type=date]::placeholder,
input[type=datetime-local]::placeholder,
input[type=datetime]::placeholder,
input[type=email]::placeholder,
input[type=month]::placeholder,
input[type=number]::placeholder,
input[type=password]::placeholder,
input[type=search]::placeholder,
input[type=tel]::placeholder,
input[type=text]::placeholder,
input[type=time]::placeholder,
input[type=url]::placeholder,
input[type=week]::placeholder,
select::placeholder,
textarea::placeholder {
  font-size: 0.8rem;
}
input[type=color]:disabled,
input[type=date]:disabled,
input[type=datetime-local]:disabled,
input[type=datetime]:disabled,
input[type=email]:disabled,
input[type=month]:disabled,
input[type=number]:disabled,
input[type=password]:disabled,
input[type=search]:disabled,
input[type=tel]:disabled,
input[type=text]:disabled,
input[type=time]:disabled,
input[type=url]:disabled,
input[type=week]:disabled,
select:disabled,
textarea:disabled {
  border: 1px solid #ffffff;
  background-color: #F5F5F5;
  color: #000000;
}
input[type=color]:hover,
input[type=date]:hover,
input[type=datetime-local]:hover,
input[type=datetime]:hover,
input[type=email]:hover,
input[type=month]:hover,
input[type=number]:hover,
input[type=password]:hover,
input[type=search]:hover,
input[type=tel]:hover,
input[type=text]:hover,
input[type=time]:hover,
input[type=url]:hover,
input[type=week]:hover,
select:hover,
textarea:hover {
  color: #e4bb7d;
  border-bottom: 1px solid #e4bb7d;
}
.select select {
  font-size: 0.8rem;
  padding: 0 15px;
}
.topbar_right {
  position: absolute;
  right: 0px;
  padding: 10px;
}
@font-face {
  font-family: "CNfont";
  font-display: swap;
  src: url("//at.alicdn.com/t/webfont_e096bvuofir.eot");
  /* IE9*/
  src: url("//at.alicdn.com/t/webfont_e096bvuofir.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("//at.alicdn.com/t/webfont_e096bvuofir.woff2") format("woff2"), url("//at.alicdn.com/t/webfont_e096bvuofir.woff") format("woff"), /* chrome、firefox */ url("//at.alicdn.com/t/webfont_e096bvuofir.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url("//at.alicdn.com/t/webfont_e096bvuofir.svg#思源黑体-粗") format("svg");
  /* iOS 4.1- */
}
