html,
body {
  height: 100%;
  position: relative;
  width: 100%;
  overflow: hidden;
}
p,h5{
  color: #cacaca;
}
// flex
.flex_c_c {
  display: flex;
  align-items: center;
  justify-items: center;
}
.flex_c_l {
  display: flex;
  align-items: center; 
}

//重写宽度
.w100{
  width: 100% !important;
}
// padding
.pad10 {
  padding: 10px !important;
}
.pad20 {
  padding: 20px !important;
}

.padt5 {
  padding-top: 5px !important;
}
.padt10 {
  padding-top: 10px !important;
}
.padt20 {
  padding-top: 20px !important;
}


.padb5 {
  padding-bottom: 5px !important;
}
.padb10 {
  padding-bottom: 10px !important;
}
.padb20 {
  padding-bottom: 20px !important;
}


.padl10 {
  padding-left: 10px;
}
.padl15 {
  padding-left: 15px !important;
}
.padl20 {
  padding-left: 20px;
}
.pdlr5 {
  padding: 0 5px;
}
.pdlr15 {
  padding: 0 15px;
}
.pdr5 {
  padding-right: 5px;
}
.pdb10 {
  padding-bottom: 10px !important;
}


.mgr5{
  margin-right: 5px !important;
}
.blackfg_5 {
  height: 5px;
  display: block;
  background: #2f2f2f;
}

.fengefu_15 {
  height: 15px;
  display: block;
}
.fengefu_25 {
  height: 25px;
  display: block;
}
.fengefu_45 {
  height: 45px;
  display: block;
}
.fengefu_50 {
  height: 50px;
  display: block;
}

@media only screen and (min-height: 768px) {
  .fengefu_Big768 {
    height: 30px;
    display: block;
  }
}
// 字体样式

@font-face {
  font-family: "xihei";
  src: url("//at.alicdn.com/t/webfont_epj0qmcwgkb.eot"); /* IE9*/
  src: url("//at.alicdn.com/t/webfont_epj0qmcwgkb.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("//at.alicdn.com/t/webfont_epj0qmcwgkb.woff")
      format("woff"),
    /* chrome、firefox */ url("//at.alicdn.com/t/webfont_epj0qmcwgkb.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("//at.alicdn.com/t/webfont_epj0qmcwgkb.svg#思源黑体-细") format("svg"); /* iOS 4.1- */
}

@font-face {
  font-family: "chuti3";
  font-display: swap;
  src: url("//at.alicdn.com/t/webfont_n9bamo6mrs.eot"); /* IE9*/
  src: url("//at.alicdn.com/t/webfont_n9bamo6mrs.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("//at.alicdn.com/t/webfont_n9bamo6mrs.woff2")
      format("woff2"),
    url("//at.alicdn.com/t/webfont_n9bamo6mrs.woff") format("woff"),
    /* chrome、firefox */ url("//at.alicdn.com/t/webfont_n9bamo6mrs.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("//at.alicdn.com/t/webfont_n9bamo6mrs.svg#NotoSansHans-Black")
      format("svg"); /* iOS 4.1- */
}

h1,
h2,
h3,
h4 {
  font-family: "webfont02" !important;
  // font-size:16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

// 字体颜色
.font_color_gold {
  color: #dfb271;
  background: linear-gradient(to right, #fde7b6, #dfb271);
  -webkit-background-clip: text;
  color: transparent;
}
.font_color_hui {
  color: #b3b3b3;
  background: linear-gradient(to right, #c0c0c0, #ffffff);
  -webkit-background-clip: text;
  color: transparent;
}

// 字体控制
.font_fff {
  color: rgb(255, 255, 255) !important;
}
.font_up {
  color: rgb(0, 192, 42) !important;
}
.font_green{
  color: #4eff57 !important;
}
.font_down {
  color: rgb(255, 47, 92) !important;
}
.font_gold {
  color: #ffea8c !important;
}
.font_gold2 {
  color: #dfb271 !important;
}
.font_blue {
  color: #40d2ff !important;
}
.fonts_38 {
  font-size: 3.8rem !important;
}
.fonts_16 {
  font-size: 1.6rem !important;
}
.fonts_14 {
  font-size: 1.4rem !important;
}
.fonts_12 {
  font-size: 1.2rem !important;
}
.fonts_10 {
  font-size: 1.0rem !important;
}
.fonts_08 {
  font-size: 0.8rem !important;
}
.fonts_07 {
  font-size: 0.7rem !important;
}
.fonts_06 {
  font-size: 0.6rem !important;
  .iconfont {
    font-size: inherit;
    margin-right: 5px;
  }
}

// 動畫控制
// fadeInDown animated s05
.s01 {
  animation-duration: 0.1s;
}
.s02 {
  animation-duration: 0.2s;
}
.s03 {
  animation-duration: 0.3s;
}
.s05 {
  animation-duration: 0.3s;
}
.s08 {
  animation-duration: 0.8s;
}
.s1 {
  animation-duration: 1s;
}

// 延遲
.d02 {
  animation-delay: 0.2s;
}
.d03 {
  animation-delay: 0.3s;
}

.d04 {
  animation-delay: 0.4s;
}

.d05 {
  animation-delay: 0.5s;
}

.d06 {
  animation-delay: 0.6s;
}

.d07 {
  animation-delay: 0.7s;
}

.d08 {
  animation-delay: 0.8s;
}

.d09 {
  animation-delay: 0.9s;
}

.d10 {
  animation-delay: 1s;
}

.d11 {
  animation-delay: 1.1s;
}

.d12 {
  animation-delay: 1.2s;
}
.d13 {
  animation-delay: 1.3s;
}
.d14 {
  animation-delay: 1.4s;
}
.d15 {
  animation-delay: 1.5s;
}
// 原型
.roudn01 {
  background: #f0d399;
  border-radius: 50%;
  width: 80%;
  height: 250px;
  display: block;
  position: absolute;
  top: -175px;
  right: -35%;
}
.roudn02 {
  background: #f0d399;
  border-radius: 50%;
  width: 70%;
  height: 200px;
  display: block;
  position: absolute;
  bottom: -170px;
  left: -10%;
}
.roudn03 {
  background: #f0d399;
  border-radius: 50%;
  width: 80%;
  height: 200px;
  display: block;
  position: absolute;
  bottom: -120px;
  right: -20%;
}
// 破壞/
.mui-content {
  background-color: rgba(239, 239, 244, 0);
  width: 100%;
  padding: 0 20px;
}
.mui-input-group {
  background-color: rgba(239, 239, 244, 0);
  * {
    font-size: 0.8rem;
    &::placeholder {
      font-size: 0.8rem;
    }
  }
  input {
    caret-color: #f0d399;
    border-bottom: 1px solid #494949;
    &:hover {
      border-bottom: 1px solid #f0d399;
    }
  }
  .phonebox {
    display: flex;
    select {
      width: 80px;
      background: 0 0;
      font-size: inherit;
      // margin-right: 5px;
      border: none;
      option {
        background: #494949;
      }
    }
    input {
      width: calc(~"100% - 80px");
      padding-left: 10px;
    }
    button {
      width: 80px;
      padding: 0;
      margin: 0;
      height: 35px;
      padding: 5px;
      // margin-right: 10px;
      background: 0;
      color: #f0d399;
      border: 1px solid #f0d399;
      border-radius: 0;
      margin-top: 5px;
    }
  }
}
.none{
  display: none !important;
}
.title {
  position: relative;
  .right {
    position: absolute;
    right: 0;
    top: 0;
  }
}
.title_A1 {
  color: #ffffff;
  font-size: 1.1rem;
  line-height: 100%;
  font-family: "jdzhonyuanjian203102c4bc4639" !important;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.1px;
  -moz-osx-font-smoothing: grayscale;
}
.title_A2 {
  color: #ffffff;
  font-size: 0.8rem;
  line-height: 100%;
  font-family: "jdzhonyuanjian203102c4bc4639" !important;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.1px;
  -moz-osx-font-smoothing: grayscale;
}

.mui-input-group:before {
  background-color: rgba(239, 239, 244, 0);
}
.mui-input-group:after {
  background-color: rgba(239, 239, 244, 0);
}
.mui-input-row .mui-input-clear ~ .mui-icon-clear.mui-active,
.mui-input-row .mui-input-password ~ .mui-icon-eye.mui-active {
  color: #f0d399;
}
// 线条
.line01 {
  width: 97%;
  display: block;
  height: 1px;
  background: #5b5b5b;
  margin: 10px auto;
}

// 底部
.footbar_diy {
  display: block;
  position: fixed;
  z-index: 99999;
  bottom: 0;
  left: 0;
  width: 100%;
  background-position: top center;
  background-size: cover;
  background: #2f2f2f;
  overflow: hidden;
  border-top: 1px solid #403c37;
  text-align: center;

  .menu_a {
    height: 50px;
    flex-grow: 1;
    display: inline-block;
    text-align: center;
    color: #ffffff;
    .active{
      .iconfont,span {
        color: #dfb271;
      }
    }
    .a {
      font-size: 14px;
    }
    .b {
      display: block;
      font-size: 0.6rem;
    }
  }
  .btnone_diy {
    background: 0 0;
    background-color: 0 0;
    color: #b8b8b8;
    border: 0;
    width: 100%;
    i {
      font-size: 1.1rem;
      color: inherit;
      font-weight: 400;
    }
  }
}

// 增加
.icon_right{
 font-style: normal; 
 color: #dfb271;
 font-size: 0.6rem;
 float: right;
 .iconfont{
   font-size: inherit;
 }
}


// 破坏
.mui-btn-block{
  font-size: 1rem;
  padding: 10px 0;
}
.mui-bar-nav {
  box-shadow: none;
  background-color: #2f2f2f;
  height: 38px;
  display: flex;
  align-items: center;
  .mui-title {
    color: #c0c0c0;
    font-size: 0.8rem;
    height: auto;
    line-height: 130%;
  }
  a{
    color: #c0c0c0;
  }
}
.mui-segmented-control.tab_menu_style01 {
  display: flex;
  align-items: baseline;
  justify-items: start;
  a {
    flex-grow: 0;
    display: block;
    width: auto;
    margin-right: 10px;
    font-size: 0.8rem;
    &.mui-active {
      font-size: 1rem;
    }
  }
}
.mui-segmented-control.mui-segmented-control-inverted
  ~ .mui-slider-progress-bar {
  background-color: #e4bb7d;
}
.mui-segmented-control.mui-segmented-control-inverted
  .mui-control-item.mui-active {
  color: #e4bb7d;
}

.mui-popover{
  z-index: 999999;
  background: #212121 !important;
  .mui-table-view{
    background: linear-gradient(to right, #fde7b6, #dfb271);
  }
  .mui-table-view-cell:after { 
    background-color: #161616 !important;
}
} 
.mui-table-view-divider{
  background-color: #2f2f2f;
  &::before{
    background-color: #494949;
  }
  &::after{
    background-color: #494949;
  }
}
.mui-table-view-cell{
  border-radius: 0 !important;
  .iconfont{
    color: #fde7b6;
    font-size: inherit;
    margin-right: 10px;
  }
  .mui-active{
    background-color: #494949 !important;
  }
  &.coin_list{
    a{
      display: flex;
      align-items: center;
      .coin_img{
        width: 25px;
        margin-right: 10px;
      }
    }
  }
  a{
    border-radius: 0 !important; 
    
    b,span{
      color: #000;
    }
  }
  &:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 15px;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #494949;
  }
} 

.mui-card {
  background: 0 0;
  margin: 0;
  box-shadow:none;
  border-bottom: 1px solid #494949;
  .mui-table-view {
    background: 0 0;
  }
  .mui-badge-none{
    background: none;
    color: #fff;
    font-family: "jdzhonyuanjian203102c4bc4639" !important;
    font-size: 1rem;
  }
}


input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea{
  background-color: #494949;
  border: 1px solid rgba(255, 255, 255, 0);
  font-size: 0.9rem;
  &::placeholder{
    font-size: 0.8rem;
  } 
  &:disabled{
    border:1px solid rgb(255, 255, 255);
    background-color:#F5F5F5;
    color:rgb(0, 0, 0);
    }
  &:hover{
    color: #e4bb7d;
    border-bottom: 1px solid #e4bb7d;
  }
}
.select{
  select{
    font-size: 0.8rem;
    padding: 0 15px;
  }
}



.topbar_right{
  position: absolute; right: 0px; padding: 10px;
}

@font-face {
  font-family: "CNfont";
  font-display: swap;
  src: url("//at.alicdn.com/t/webfont_e096bvuofir.eot"); /* IE9*/
  src: url("//at.alicdn.com/t/webfont_e096bvuofir.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("//at.alicdn.com/t/webfont_e096bvuofir.woff2")
      format("woff2"),
    url("//at.alicdn.com/t/webfont_e096bvuofir.woff") format("woff"),
    /* chrome、firefox */ url("//at.alicdn.com/t/webfont_e096bvuofir.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("//at.alicdn.com/t/webfont_e096bvuofir.svg#思源黑体-粗") format("svg"); /* iOS 4.1- */
}

//文字+数字 MILANTING203106fe994639
@import "//cdn.repository.webfont.com/webfonts/nomal/17977/47267/5e9a96f7f629d80d982dc5c3.css";

//标题 jdzhonyuanjian203102c4bc4639
@import "//cdn.repository.webfont.com/webfonts/nomal/17977/19673/5e9a95e2f629d80d982dc5c2.css";
