@import "style.css";
@import "//at.alicdn.com/t/font_1760728_iumuzsl2gaf.css";
body {
  font-weight: 400;
  font-size: 0.8rem;
  background: #1f1f1f;
  color: #ffffff;
  padding: 0;
  margin: 0;
  position: relative;
}
.body_box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  padding-top: 38px;
}
.login_box {
  display: flex;
  align-items: center;
  height: 100%;
}
.login_box_input {
  background-color: #494949;
  border-radius: 15px;
  padding: 30px;
  margin-top: 20px;
}
.login_box_input label {
  font-size: 1.1rem;
}
.login_box_input input {
  padding-left: 0;
}
.login_box_input input::placeholder {
  font-size: 0.8rem;
}
.login_box_input .mui-input-row:after {
  left: 0;
}
.btn_box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.btn_box .login_btn {
  background: linear-gradient(to right, #fde7b6, #dfb271);
  border-radius: 15px;
  border: 0px;
  box-shadow: 0px 1px 5px #000;
}
.btn_box .round_btn {
  text-align: center;
  padding: 0 10px;
  color: #fff;
}
.btn_box .round_btn p {
  color: #fff;
}
.btn_box .round_btn button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 0;
  margin-bottom: 5px;
  background: linear-gradient(to right, #fde7b6, #dfb271);
  border: 0px;
  box-shadow: 0px 1px 5px #000;
}
.btn_box .round_btn button span {
  font-size: 1.3rem;
}
.btn_box .round_btn button.style2 {
  background: linear-gradient(to right, #c7b222, rgba(237, 188, 0, 0.9));
}
.index_toppice_box {
  border-bottom: 1px solid #3a3d3f;
  padding: 0 0px;
  padding-bottom: 5px;
}
.index_toppice_box .mui-slider-indicator {
  left: 0;
  bottom: 0;
}
.index_toppice_box .mui-slider-indicator .mui-indicator {
  background: #6e6e6e;
  box-shadow: none;
  margin: 1px 2px;
  width: 5px;
  height: 5px;
}
.index_toppice_box .mui-slider-indicator .mui-active.mui-indicator {
  background: #fad738;
}
.index_toppice {
  display: flex;
  line-height: 120%;
}
.index_toppice div {
  flex-grow: 1;
  padding: 15px 5px;
  text-align: center;
  position: relative;
}
.index_toppice div span {
  font-size: 0.7rem;
  color: #a8a8a8;
}
.index_toppice div label {
  font-size: 1rem;
  font-family: "MILANTING203106fe994639" !important;
  line-height: 140%;
  display: block;
}
.index_toppice div em {
  font-style: normal;
  font-size: 0.7rem;
  font-family: "MILANTING203106fe994639" !important;
}
.index_toppice div::after {
  content: "";
  width: 1px;
  position: absolute;
  right: 0;
  top: 15px;
  bottom: 15px;
  background: #3a3d3f;
}
.index_toppice div:last-child::after {
  display: none;
}
.vcode {
  display: flex;
}
.index_toppbtn {
  display: flex;
  font-family: "webfont1" !important;
  line-height: 120%;
}
.index_toppbtn .open button {
  background: linear-gradient(to right, #fde7b6, #dfb271);
  color: #fde7b6;
}
.index_toppbtn .open button .iconfont {
  color: #503829;
}
.index_toppbtn .open p {
  color: #fde7b6;
}
.index_toppbtn div {
  flex-grow: 1;
  padding: 10px 10px;
  padding-top: 15px;
  text-align: center;
  position: relative;
}
.index_toppbtn div button {
  background: #7f7f7f;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  color: #fff;
  border: none;
}
.index_toppbtn div button * {
  font-size: 1.1rem;
}
.index_toppbtn div p {
  font-size: 0.6rem;
  padding-top: 5px;
  margin-bottom: 0;
  min-width: 55px;
}
.index_gonggao {
  padding: 10px 20px;
}
.index_gonggao .title {
  font-size: 0.8rem;
  padding-left: 5px;
}
.park_list2 {
  background: rgba(255, 255, 255, 0.01);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  padding: 10px;
  margin-top: 15px;
  position: relative;
}
.park_list2 .title {
  text-align: left;
  padding-left: 5px;
  padding-bottom: 10px;
  line-height: 200%;
  color: #f9d637;
  font-family: "MILANTING203106fe994639" !important;
}
.park_list2 .btn {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 0.6rem;
  color: #d1d1d1;
}
.park_list2 .btn .iconfont {
  font-size: inherit;
}
.park_list2 .btn2 {
  padding: 10px 0px 0px 0px;
  text-align: left;
}
.park_list2 .btn2 .buythispark {
  width: 100%;
  margin: auto;
  background: #f6cb26;
  background: linear-gradient(to right, #fde7b6, #dfb271);
  border: 0;
}
.park_list2 .park_box {
  display: flex;
  justify-content: space-between;
  padding: 0 0px;
  align-items: center;
}
.park_list2 ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border-right: 1px solid #5b5b5b;
  text-align: center;
  flex-flow: 0;
}
.park_list2 ul:last-child {
  border: 0;
}
.park_list2 ul.A_BOX {
  padding-right: 10px;
  width: 30%;
  min-width: 100px;
}
.park_list2 ul.A_BOX .sole span {
  font-size: 1rem;
  color: #ff7a7a;
  font-family: "MILANTING203106fe994639" !important;
}
.park_list2 ul.A_BOX li {
  color: #a0a0a0;
  font-size: 0.7rem;
  align-items: center;
}
.park_list2 ul.B_BOX {
  padding-left: 10px;
  flex-grow: 1;
}
.park_list2 ul.B_BOX .sole span {
  font-size: 1rem;
  color: #ffea8c;
  font-family: "MILANTING203106fe994639" !important;
}
.park_list2 ul.B_BOX li {
  color: #a0a0a0;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
}
.park_list2 ul.B_BOX .btn {
  top: 58px;
  right: 15px;
}
.park_list2 ul.B_BOX .btn button {
  background: linear-gradient(to right, #fde7b6, #dfb271);
  border: 0;
  font-size: 0.6rem;
  padding: 5px 10px;
}
.blance_box {
  background: linear-gradient(to right, #fde7b6, #dfb271);
  padding: 15px;
  color: #303030;
}
.blance_box .shuzi {
  font-family: "jdzhonyuanjian203102c4bc4639" !important;
  font-size: 1.1rem;
}
.blance_box .shuzi span {
  font-size: 0.8rem;
}
.unit {
  display: block;
  font-style: normal;
  font-size: 0.8rem;
  line-height: 200%;
  text-align: right;
}
.my_box {
  background: #363636;
  padding: 15px;
  color: #dddddd;
  display: flex;
  align-items: center;
}
.my_box img {
  margin-right: 10px;
  line-height: 100%;
  border-radius: 50%;
}
.my_box .ID {
  font-size: 1rem;
  line-height: 1.2rem;
  font-family: "MILANTING203106fe994639" !important;
}
.phonebox2 {
  display: flex;
}
.phonebox2 select {
  flex-grow: 1;
  width: 105px;
  background: 0 0;
  font-size: inherit;
  border: none;
  background-color: #494949;
  border: 1px solid #494949;
  height: auto;
  margin-top: 0;
  margin-right: 5px;
  padding-left: 10px;
  height: 40px;
}
.phonebox2 select option {
  background: #494949;
}
.phonebox2 input {
  width: calc(100% - 80px);
  padding-left: 10px;
}
.phonebox2 button {
  width: 120px;
  padding: 0;
  margin: 0;
  height: 35px;
  padding: 5px;
  background: 0;
  background-color: #494949;
  border: 1px solid #494949;
  color: #f0d399;
  border: 1px solid #f0d399;
  border-radius: 0;
  margin-top: 5px;
}
.phonebox2 button.apps1 {
  height: 40px;
  margin-top: 0;
  margin-right: 5px;
  border-radius: 3px;
}
.qrcode_box {
  margin: 20px 5px;
  background: rgba(237, 188, 0, 0.9);
  background: linear-gradient(to right, #c7b222, rgba(237, 188, 0, 0.9));
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 40px 20px;
  color: #303030;
  font-size: 1rem;
  position: relative;
}
.qrcode_box .close_btn {
  position: absolute;
  right: 10px;
  top: 10px;
}
.qrcode_box .img {
  margin: auto;
  text-align: center;
}
.qrcode_box .img img {
  max-width: 80%;
}
.qrcode_box p {
  color: #303030;
}
.qrcode_box .title {
  font-family: "jdzhonyuanjian203102c4bc4639" !important;
  font-size: 1.2rem;
}
.qrcode_box .textbox {
  background: #fff;
  display: block;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
}
.qrcode_box .textbox div {
  word-break: break-all;
}
.qrcode_box .textbox ul {
  padding: 0;
  margin: 0;
}
.qrcode_box .textbox ul li {
  list-style: none;
}
.assets_libox {
  display: flex !important;
  align-items: center;
}
.assets_libox .num {
  text-align: right;
}
.assets_libox .num em {
  display: block;
  font-size: 0.6rem;
  font-style: normal;
  padding-top: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.assets_libox .cont {
  display: block;
  width: 60%;
}
.assets_libox .cont span {
  color: #fff;
  display: block;
}
.assets_libox .cont em {
  font-style: normal;
  font-size: 0.7rem;
  color: #d1d1d1;
  display: block;
  word-break: break-all;
  white-space: normal;
}
.c_report_text {
  padding: 15px 15px;
}
.c_report_text p {
  white-space: normal;
  line-height: 160%;
  color: #6d6d6d;
  text-indent: 0;
}
.c_report_text img {
  max-width: 100%;
}
.c_table table {
  color: #fff;
  font-size: 0.8rem;
  background: #2b333e;
  border: 1px solid #434f60;
  width: 100%;
}
.c_table table th {
  text-align: right;
  padding: 10px 20px;
  border-bottom: 1px solid #434f60;
}
.c_table table td {
  padding-right: 10px;
  border-bottom: 1px solid #434f60;
}
.search_data {
  padding: 15px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 0.6rem;
  white-space: nowrap;
}
.search_data div {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.search_data div:last-child {
  flex-grow: 0;
  text-align: right;
  justify-content: flex-end;
}
.search_data .ui-alert {
  margin-left: 3px;
  background: #cccccc;
  color: #000000;
  padding: 3px 5px;
  border-radius: 5px;
  width: 75px;
  display: block;
  text-align: center;
}
.search_data button {
  width: 60px;
  height: 27px;
  line-height: 100%;
  background: linear-gradient(to right, #fde7b6, #dfb271);
  border: 0;
}
@media screen and (max-width: 340px) {
  .search_data {
    flex-wrap: wrap;
  }
  .search_data div {
    width: 50%;
    flex-grow: 0;
  }
  .search_data div:nth-child(2) {
    justify-content: flex-end;
  }
  .search_data div:last-child {
    margin-top: 10px;
    width: 100%;
    text-align: left;
    justify-content: inherit;
  }
  .search_data button {
    width: 100%;
  }
  .search_data:after {
    display: block;
    clear: both;
  }
}
