body {
  font-weight: 400;
  font-size  : 0.8rem;
  background : #1f1f1f;
  color      : #ffffff;
  padding    : 0;
  margin     : 0;
  position   : relative;
}

.body_box {
  position   : absolute;
  left       : 0;
  top        : 0;
  width      : 100%;
  overflow-x : hidden;
  overflow-y : scroll;
  height     : 100%;
  padding-top: 38px;
}

.login_box {
  display    : flex;
  align-items: center;
  height     : 100%;
}

.big_title {}

.login_box_input {
  background-color: #494949;
  border-radius   : 15px;
  padding         : 30px;
  margin-top      : 20px;

  label {
    font-size: 1.1rem;
  }

  input {
    padding-left: 0;

    &::placeholder {
      font-size: 0.8rem;
    }
  }

  .mui-input-row:after {
    left: 0;
  }
}

.btn_box {
  display        : flex;
  align-items    : center;
  justify-content: center;
  margin-top     : 20px;

  .login_btn {
    background   : linear-gradient(to right, #fde7b6, #dfb271);
    border-radius: 15px;
    border       : 0px;
    box-shadow   : 0px 1px 5px #000;
  }

  .round_btn {
    text-align: center;
    padding   : 0 10px;
    color     : #fff;

    p {
      color: #fff;
    }

    button {
      border-radius: 50%;
      width        : 50px;
      height       : 50px;
      padding      : 0;
      margin-bottom: 5px;
      background   : linear-gradient(to right, #fde7b6, #dfb271);
      border       : 0px;
      box-shadow   : 0px 1px 5px #000;

      span {
        font-size: 1.3rem;
      }

      &.style2 {
        background: linear-gradient(to right, #c7b222, rgba(237, 188, 0, 0.9));
      }
    }
  }
}

.index_toppice_box {
  border-bottom : 1px solid #3a3d3f;
  padding       : 0 0px;
  padding-bottom: 5px;

  .mui-slider-indicator {
    left  : 0;
    bottom: 0;

    .mui-indicator {
      background: #6e6e6e;
      box-shadow: none;
      margin    : 1px 2px;
      width     : 5px;
      height    : 5px;
    }

    .mui-active.mui-indicator {
      background: #fad738;
    }
  }
}

.index_toppice {
  display: flex;

  line-height: 120%;

  div {
    flex-grow : 1;
    padding   : 15px 5px;
    text-align: center;
    position  : relative;

    span {
      font-size: 0.7rem;
      color    : rgb(168, 168, 168);
    }

    label {
      font-size  : 1rem;
      font-family: "MILANTING203106fe994639" !important;
      line-height: 140%;
      display    : block;
    }

    em {
      font-style : normal;
      font-size  : 0.7rem;
      font-family: "MILANTING203106fe994639" !important;
    }

    &::after {
      content   : "";
      width     : 1px;
      position  : absolute;
      right     : 0;
      top       : 15px;
      bottom    : 15px;
      background: #3a3d3f;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }
}

.vcode {
  display: flex;

}

.index_toppbtn {
  display    : flex;
  font-family: "webfont1" !important;
  line-height: 120%;

  .open {
    button {
      background: linear-gradient(to right, #fde7b6, #dfb271);
      color     : #fde7b6;

      .iconfont {
        color: rgb(80, 56, 41);
      }
    }

    p {
      color: #fde7b6;
    }
  }

  div {
    flex-grow  : 1;
    padding    : 10px 10px;
    padding-top: 15px;
    text-align : center;
    position   : relative;

    button {
      background   : #7f7f7f;
      width        : 30px;
      height       : 30px;
      border-radius: 50%;
      padding      : 0;
      color        : #fff;
      border       : none;

      * {
        font-size: 1.1rem;
      }
    }

    p {
      font-size    : 0.6rem;
      padding-top  : 5px;
      margin-bottom: 0;
      min-width    : 55px;
    }
  }
}

.index_gonggao {
  padding: 10px 20px;

  .title {
    font-size   : 0.8rem;
    padding-left: 5px;
  }
}

.park_list2 {
  background   : rgba(255, 255, 255, 0.01);
  border       : 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  padding      : 10px;
  margin-top   : 15px;
  position     : relative;

  .title {
    text-align    : left;
    padding-left  : 5px;
    padding-bottom: 10px;
    line-height   : 200%;
    color         : #f9d637;
    font-family   : "MILANTING203106fe994639" !important;
  }

  .btn {
    position : absolute;
    top      : 15px;
    right    : 15px;
    font-size: 0.6rem;
    color    : #d1d1d1;

    .iconfont {
      font-size: inherit;
    }
  }

  .btn2 {
    padding   : 10px 0px 0px 0px;
    text-align: left;

    .buythispark {
      width     : 100%;
      margin    : auto;
      background: #f6cb26;
      background: linear-gradient(to right, #fde7b6, #dfb271);
      border    : 0;
    }
  }

  .park_box {
    display        : flex;
    justify-content: space-between;
    padding        : 0 0px;
    align-items    : center;
  }

  ul {
    list-style  : none;
    padding     : 0;
    margin      : 0;
    border-right: 1px solid #5b5b5b;
    text-align  : center;
    flex-flow   : 0;

    &:last-child {
      border: 0;
    }

    &.A_BOX {
      padding-right: 10px;
      width        : 30%;
      min-width    : 100px;

      .sole span {
        font-size  : 1rem;
        color      : #ff7a7a;
        font-family: "MILANTING203106fe994639" !important;
      }

      li {
        color      : #a0a0a0;
        font-size  : 0.7rem;
        align-items: center;
      }
    }

    &.B_BOX {
      padding-left: 10px;
      flex-grow   : 1;

      .sole span {
        font-size  : 1rem;
        color      : #ffea8c;
        font-family: "MILANTING203106fe994639" !important;
      }

      li {
        color      : #a0a0a0;
        font-size  : 0.7rem;
        display    : flex;
        align-items: center;
      }

      .btn {
        top  : 58px;
        right: 15px;

        button {
          background: linear-gradient(to right, #fde7b6, #dfb271);
          border    : 0;
          font-size : 0.6rem;
          padding   : 5px 10px;
        }
      }
    }
  }
}

// 我的资产
.blance_box {
  background: linear-gradient(to right, #fde7b6, #dfb271);
  padding   : 15px;
  color     : #303030;

  .shuzi {
    font-family: "jdzhonyuanjian203102c4bc4639" !important;
    font-size  : 1.1rem;

    span {
      font-size: 0.8rem;
    }
  }
}

.unit {
  display    : block;
  font-style : normal;
  font-size  : 0.8rem;
  line-height: 200%;
  text-align : right;
}



// 我的账户

.my_box {
  background : #363636;
  padding    : 15px;
  color      : #dddddd;
  display    : flex;
  align-items: center;

  img {
    margin-right : 10px;
    line-height  : 100%;
    border-radius: 50%;
  }

  .ID {
    font-size  : 1rem;
    line-height: 1.2rem;
    font-family: "MILANTING203106fe994639" !important;
  }
}

// 资料设置
.phonebox2 {
  display: flex;

  select {
    flex-grow       : 1;
    width           : 105px;
    background      : 0 0;
    font-size       : inherit;
    border          : none;
    background-color: #494949;
    border          : 1px solid #494949;
    height          : auto;
    margin-top      : 0;
    margin-right    : 5px;
    padding-left    : 10px;
    height          : 40px;

    option {
      background: #494949;
    }
  }

  input {
    width       : calc(~"100% - 80px");
    padding-left: 10px;
  }

  button {
    width           : 120px;
    padding         : 0;
    margin          : 0;
    height          : 35px;
    padding         : 5px;
    // margin-right: 10px;
    background      : 0;
    background-color: #494949;
    border          : 1px solid #494949;
    color           : #f0d399;
    border          : 1px solid #f0d399;
    border-radius   : 0;
    margin-top      : 5px;

    &.apps1 {
      height       : 40px;
      margin-top   : 0;
      margin-right : 5px;
      border-radius: 3px;
    }
  }
}

// 分享
.qrcode_box {
  margin       : 20px 5px;
  background   : rgba(237, 188, 0, 0.9);
  background   : linear-gradient(to right, #c7b222, rgba(237, 188, 0, 0.9));
  // display: block;
  box-shadow   : 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding      : 40px 20px;
  color        : #303030;
  font-size    : 1rem;
  position     : relative;

  .close_btn {
    position: absolute;
    right   : 10px;
    top     : 10px;
  }

  .img {
    margin    : auto;
    text-align: center;

    img {
      max-width: 80%;
    }
  }

  p {
    color: #303030;
  }

  .title {
    font-family: "jdzhonyuanjian203102c4bc4639" !important;
    font-size  : 1.2rem;
  }

  .textbox {
    background     : #fff;
    display        : block;
    padding        : 10px;
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    font-size      : 1rem;

    div {
      word-break: break-all;
    }

    ul {
      padding: 0;
      margin : 0;

      li {
        list-style: none;
      }
    }
  }
}

// 资产明细列表
.assets_libox {
  display    : flex !important;
  align-items: center;

  .num {
    text-align: right;

    em {
      display    : block;
      font-size  : 0.6rem;
      font-style : normal;
      padding-top: 5px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
  }

  .cont {
    display: block;
    width  : 60%;

    span {
      color  : #fff;
      display: block;
    }

    em {
      font-style : normal;
      font-size  : 0.7rem;
      color      : #d1d1d1;
      display    : block;
      word-break : break-all;
      white-space: normal;
    }
  }
}

.c_report_text {
  padding: 15px 15px;

  p {
    white-space: normal;
    line-height: 160%;
    color      : #6d6d6d;
    text-indent: 0;
  }

  img {
    max-width: 100%;
  }
}

.c_table {
  table {
    color     : #fff;
    font-size : 0.8rem;
    background: #2b333e;
    border    : 1px solid #434f60;
    width     : 100%;

    th {
      text-align   : right;
      padding      : 10px 20px;
      border-bottom: 1px solid #434f60;
    }

    td {
      padding-right: 10px;
      border-bottom: 1px solid #434f60;
    }
  }
}

.search_data {
  padding        : 15px 15px;
  display        : flex;
  align-items    : center;
  justify-content: space-between;
  color          : #fff;
  font-size      : 0.6rem;
  white-space    : nowrap;

  div {
    // width: 48%;
    display    : flex;
    align-items: center;
    flex-grow  : 1;

    &:last-child {
      flex-grow      : 0;
      text-align     : right;
      justify-content: flex-end;
    }
  }

  .ui-alert {
    margin-left  : 3px;
    background   : rgb(204, 204, 204);
    color        : #000000;
    padding      : 3px 5px;
    border-radius: 5px;
    width        : 75px;
    display      : block;
    text-align   : center;
  }

  button {
    width      : 60px;
    height     : 27px;
    line-height: 100%;
    background : linear-gradient(to right, #fde7b6, #dfb271);
    border     : 0;
  }

}


@media screen and (max-width:340px) {
  .search_data {
    flex-wrap: wrap;

    div {
      width    : 50%;
      flex-grow: 0;

      &:nth-child(2) { 
        justify-content: flex-end;
      }

      &:last-child {
        margin-top     : 10px;
        width          : 100%;
        text-align     : left;
        justify-content: inherit;
      }
    }

    .ui-alert {}

    button {
      width: 100%;
    }

    &:after {
      display: block;
      clear  : both
    }
  }
}

// @import "animate.css";
@import "style.css";
@import "//at.alicdn.com/t/font_1760728_iumuzsl2gaf.css";