<!--底部导航菜单-->
<style>
	/* 
	@media only screen and (min-height: 768px){
		.footbar_diy {
			height: 80px;
		} 
		.html_body .body_box{
			padding-bottom: 80px;
		}
	} 
	*/
	.body_box {
		padding-top: 38px;
	}
</style>
<div class="footbar_diy topIn">
	<div class="flex_c_c">
		<div class="menu_a">
			<button id='home' class="btnone_diy">
				<i class="iconfont iconshouye1"></i>
				<span id="zichan" class="b font_xihei">首页</span>
			</button>
		</div>
		<div class="menu_a">
			<button id='My_contract' class="btnone_diy">
				<i class="iconfont iconicon-"></i>
				<span id="hangqing" class="b font_xihei">合约</span>
			</button>
		</div>
		<div class="menu_a not_open2">
			<button id='My_assets' class="btnone_diy">
				<i class="iconfont iconqianbao1"></i>
				<span id="duihuan" class="b font_xihei">钱包</span>
			</button>
		</div>
		<div class="menu_a not_open2">
			<button id='My_setting' class="btnone_diy">
				<i class="iconfont iconwode1"></i>
				<span id="yingyong" class="b font_xihei">我的</span>
			</button>
		</div>
	</div>

	<div class="fengefu_Big768">
		<!-- 分隔符 -->
	</div>

</div>
<script>


	$("#home").click(function () {
		// mui.openWindow("main.html", true);
		mui.openWindow({
			url: "main.html",
			id: "home",
			// styles: {
			// 	top: newpage - top - position,//新页面顶部位置
			// 	bottom: newage - bottom - position,//新页面底部位置
			// 	width: newpage - width,//新页面宽度，默认为100%
			// 	height: newpage - height,//新页面高度，默认为100% 
			// },
			// extras: {
			// 	//自定义扩展参数，可以用来处理页面间传值
			// },
			createNew: true,//是否重复创建同样id的webview，默认为false:不重复创建，直接显示
			show: {
				autoShow: true,//页面loaded事件发生后自动显示，默认为true
				aniShow: "fade-in",//页面显示动画，默认为”slide-in-right“；
				// duration: animationTime//页面动画持续时间，Android平台默认100毫秒，iOS平台默认200毫秒；
			},
			waiting: {
				autoShow: true,//自动显示等待框，默认为true
				title: '正在加载...',//等待对话框上显示的提示内容
				// options: {
				// 	width: waiting - dialog - widht,//等待框背景区域宽度，默认根据内容自动计算合适宽度
				// 	height: waiting - dialog - height,//等待框背景区域高度，默认根据内容自动计算合适高度
				// }
			}
		})
	});
	$("#My_contract").click(function () {
		// mui.openWindow("My_contract.html", true);
		mui.openWindow({
			url: "My_contract.html",
			id: "My_contract",
			createNew: true,//是否重复创建同样id的webview，默认为false:不重复创建，直接显示
			show: {
				autoShow: true,//页面loaded事件发生后自动显示，默认为true
				aniShow: "fade-in",//页面显示动画，默认为”slide-in-right“；
			},
			waiting: {
				autoShow: true,//自动显示等待框，默认为true
				title: '正在加载...',//等待对话框上显示的提示内容
			}
		})
	});
	$("#My_assets").click(function () {
		// mui.openWindow("My_assets.html", true);
		mui.openWindow({
			url: "My_assets.html",
			id: "My_assets",
			createNew: true,//是否重复创建同样id的webview，默认为false:不重复创建，直接显示
			show: {
				autoShow: true,//页面loaded事件发生后自动显示，默认为true
				aniShow: "fade-in",//页面显示动画，默认为”slide-in-right“；
			},
			waiting: {
				autoShow: true,//自动显示等待框，默认为true
				title: '正在加载...',//等待对话框上显示的提示内容
			}
		})
	});
	$("#My_setting").click(function () {
		// mui.openWindow("My_setting.html", true);
		mui.openWindow({
			url: "My_setting.html",
			id: "My_setting",
			createNew: true,//是否重复创建同样id的webview，默认为false:不重复创建，直接显示
			show: {
				autoShow: true,//页面loaded事件发生后自动显示，默认为true
				aniShow: "fade-in",//页面显示动画，默认为”slide-in-right“；
			},
			waiting: {
				autoShow: true,//自动显示等待框，默认为true
				title: '正在加载...',//等待对话框上显示的提示内容
			}
		})
	});


	var filename = location.href;
	filename = filename.substr(filename.lastIndexOf('/') + 1);
	// alert(filename);


	if (filename == "main.html") {
		// alert(filename);
		// alert("111");
		$("#home").addClass('active');
	}
	if (filename == "My_contract.html") {
		// alert("222");
		$("#My_contract").addClass('active');
	}
	if (filename == "My_assets.html") {
		// alert("333");
		$("#My_assets").addClass('active');
	}
	if (filename == "My_setting.html") {
		// alert("444");
		$("#My_setting").addClass('active');
	}
    // var urlstr = location.href;
	// alert(document.URL);
    // alert((urlstr + '/'));
    // var urlstatus = false;
    // $(".nav_quirk_li>li a").each(function () {
    //     if ((urlstr + '/').indexOf($(this).attr('href')) > -1 && $(this).attr('href') != "") {
    //         $(this).parent().addClass('active'); urlstatus = true;
    //         $(this).parent().parent().parent().addClass('active'); urlstatus = true;
    //     };
    // });
    // if (!urlstatus) { $(".nav-quirk-li a").eq(0).addClass('active'); };
</script>
<!--底部导航菜单-->